# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=localhost:9093,localhost2:9093
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='asoigeboi' password='asolole';
sasl.mechanism=PLAIN
ssl.keystore.location=kafka_broker.keystore.jks
ssl.keystore.password=confluentkeystorestorepass
ssl.truststore.location=kafka_broker.truststore.jks
ssl.truststore.password=confluenttruststorepass
ssl.key.password=confluentkeystorestorepass
group.id=xxaskotekamanssss
schema.registry.url=https://localhost2:8081
auto.offset.reset=earliest
enable.auto.commit=true
auto.commit.interval.ms=1000
#partition=0
#offset=16874

# Required for correctness in Apache Kafka clients prior to 2.6
client.dns.lookup=use_all_dns_ips

# Best practice for Kafka producer to prevent data loss
acks=all

# Required connection configs for Confluent Cloud Schema Registry
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=asoigeboi:asolole
schema.registry.ssl.keystore.location=kafka_broker.keystore.jks
schema.registry.ssl.keystore.password=confluentkeystorestorepass
schema.registry.ssl.truststore.location=kafka_broker.truststore.jks
schema.registry.ssl.truststore.password=confluenttruststorepass
schema.registry.ssl.key.password=confluentkeystorestorepass